<% if current_user.super_admin? %>

<div class='container'>
  <table class='table'>
    
    <thead>
      <tr>
        <th>Domain</th>
        <th>Majestic Topic</th>
        <th>Site Topic</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      <% @domains.each do |domain| %>
        <tr>
          <td><%= domain.domain %></td>
          <td><%= domain.majestic_topic %></td>
          <td><%= domain.site_topic %></td>
          <td><%= domain.links %></td>
          <td><%= link_to 'Edit', edit_domain_path(domain), class: 'btn btn-primary' %>
          <td><%= link_to 'Delete', domain, method: :delete, data: {cofirm: "Are You Sure?" } %>
        </tr>
      <% end %>
    </tbody>
  </table>  

  <%= link_to 'Create New', new_domain_path, class: 'btn btn-primary' %>

  <h3>Import Domains</h3>
  <%= form_tag import_domains_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Domains" %>
  <% end %>
</div>
<% else %>
<h1>You don't have permission</h1>
<% end %>